.header {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  display: block;
}
.header__nav {
  margin-right: 20px;
}
.header__nav-list {
  @include list-unstyled;
  display: flex;
}
.header__nav-item {
  margin: 0;
  padding: 0;

  &:not(:last-child) {
    margin-right: 40px;
  }
}
.header__nav-item-link {
  font-family: $font-primary;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}
